h1,
h2 {
  text-align: center;
}
main {
  display: flex;
  flex-direction: row;
}

.item {
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
  padding: 3rem 1rem;

  margin: 6px;
}
.footer {
  background: lightblue;
  border-radius: 15px;
  transition: background-color 0.05s;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.footer:hover,
.sidebar-left:hover,
.sidebar-right:hover {
  background-color: #004480;
  color: rgb(255, 255, 255);
  border: 2px solid #004480;

  cursor: pointer;
  /* font-size: 25px; */
}

.footer:active,
.sidebar-left:active,
.sidebar-right:active {
  background-color: #00294d;
  box-shadow: 0 5px #001b33;
  transform: translateY(4px);
}
ul.list {
  text-align: left;
}
.sidebar-left {
  border-radius: 15px;
  order: 1;
  flex: 1;
  background: transparent;
  color: rgb(0, 0, 0);
  transition: background-color 0.5s;
  border: 2px solid #87c7ff;
}

.sidebar-right {
  border-radius: 15px;
  order: 3;
  flex: 1;
  background: transparent;
  color: rgb(0, 0, 0);
  transition: background-color 0.5s;
  border: 2px solid #87c7ff;
}

hr {
  border: 1px solid;
}
