h1, h2{
    text-align: center;
}
main {
    display: flex;
    flex-direction: row;
    
  }
.item {
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    padding: 3rem 1rem;
    
    margin: 6px;
}
.footer{
    background: lightblue;
    border-radius: 40px;
    transition: background-color .5s;
    
}
.footer:hover, .sidebar-left:hover, .sidebar-right:hover{
    background-color: gold;
}

ul.list{
    text-align: left;


}
.sidebar-left { 
    border-radius: 40px;
    order: 1;
    flex: 1;
    background: #A63D4D;
    transition: background-color .5s;
}
  
.sidebar-right {
    border-radius: 40px;
    order: 3;
    flex: 1;
    background: #4DA63D;
    transition: background-color .5s;
}

hr{
    border: 1px solid;
}